In [57]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [58]:
df1 = pd.read_csv('train.csv')
df2 = pd.read_csv('test.csv')
data1 = df1.iloc[:,:-1].values
data2 = df2.iloc[:,:].values
df3 = np.concatenate((data1,data2),axis=0)

In [59]:
df = pd.DataFrame(data=df3)

In [60]:
df.columns = df2.columns

In [61]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.MSZoning = le.fit_transform(df.MSZoning)
df.Street = le.fit_transform(df.Street)
df.Alley = le.fit_transform(df.Alley)
df.LotShape = le.fit_transform(df.LotShape)
df.LandContour = le.fit_transform(df.LandContour)
df.Utilities = le.fit_transform(df.Utilities)
df.LotConfig = le.fit_transform(df.LotConfig)
df.LandSlope = le.fit_transform(df.LandSlope)
df.Neighborhood = le.fit_transform(df.Neighborhood)
df.Condition1 = le.fit_transform(df.Condition1)
df.Condition2 = le.fit_transform(df.Condition2)
df.BldgType = le.fit_transform(df.BldgType)
df.HouseStyle = le.fit_transform(df.HouseStyle)
df.RoofStyle = le.fit_transform(df.RoofStyle)
df.RoofMatl = le.fit_transform(df.RoofMatl)
df.Exterior1st = le.fit_transform(df.Exterior1st)
df.Exterior2nd = le.fit_transform(df.Exterior2nd)
df.MasVnrType = le.fit_transform(df.MasVnrType)
df.ExterQual = le.fit_transform(df.ExterQual)
df.ExterCond = le.fit_transform(df.ExterCond)
df.Foundation = le.fit_transform(df.Foundation)
df.BsmtQual = le.fit_transform(df.BsmtQual)
df.BsmtCond = le.fit_transform(df.BsmtCond)
df.BsmtExposure = le.fit_transform(df.BsmtExposure)
df.BsmtFinType1 = le.fit_transform(df.BsmtFinType1)
df.BsmtFinType2 = le.fit_transform(df.BsmtFinType2)
df.Heating = le.fit_transform(df.Heating)
df.HeatingQC = le.fit_transform(df.HeatingQC)
df.CentralAir = le.fit_transform(df.CentralAir)
df.Electrical = le.fit_transform(df.Electrical)
df.KitchenQual = le.fit_transform(df.KitchenQual)
df.Functional = le.fit_transform(df.Functional)
df.FireplaceQu = le.fit_transform(df.FireplaceQu)
df.GarageType = le.fit_transform(df.GarageType)
df.GarageFinish = le.fit_transform(df.GarageFinish)
df.GarageQual = le.fit_transform(df.GarageQual)
df.GarageCond = le.fit_transform(df.GarageCond)
df.PavedDrive = le.fit_transform(df.PavedDrive)
df.PoolQC = le.fit_transform(df.PoolQC)
df.Fence = le.fit_transform(df.Fence)
df.MiscFeature = le.fit_transform(df.MiscFeature)
df.SaleType = le.fit_transform(df.SaleType)
df.SaleCondition = le.fit_transform(df.SaleCondition)
df.fillna(0,inplace=True)

In [62]:
df.head(15)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,3,65.0,8450,1,2,3,3,0,...,0,0,3,4,4,0,2,2008,8,4
1,2,20,3,80.0,9600,1,2,3,3,0,...,0,0,3,4,4,0,5,2007,8,4
2,3,60,3,68.0,11250,1,2,0,3,0,...,0,0,3,4,4,0,9,2008,8,4
3,4,70,3,60.0,9550,1,2,0,3,0,...,0,0,3,4,4,0,2,2006,8,0
4,5,60,3,84.0,14260,1,2,0,3,0,...,0,0,3,4,4,0,12,2008,8,4
5,6,50,3,85.0,14115,1,2,0,3,0,...,0,0,3,2,2,700,10,2009,8,4
6,7,20,3,75.0,10084,1,2,3,3,0,...,0,0,3,4,4,0,8,2007,8,4
7,8,60,3,0.0,10382,1,2,0,3,0,...,0,0,3,4,2,350,11,2009,8,4
8,9,50,4,51.0,6120,1,2,3,3,0,...,0,0,3,4,4,0,4,2008,8,0
9,10,190,3,50.0,7420,1,2,3,3,0,...,0,0,3,4,4,0,1,2008,8,4
10,11,20,3,70.0,11200,1,2,3,3,0,...,0,0,3,4,4,0,2,2008,8,4
11,12,60,3,85.0,11924,1,2,0,3,0,...,0,0,3,4,4,0,7,2006,6,5
12,13,20,3,0.0,12968,1,2,1,3,0,...,176,0,3,4,4,0,9,2008,8,4
13,14,20,3,91.0,10652,1,2,0,3,0,...,0,0,3,4,4,0,8,2007,6,5
14,15,20,3,0.0,10920,1,2,0,3,0,...,0,0,3,1,4,0,5,2008,8,4

In [63]:
X = df.iloc[:1460,:].values
Y = df1.iloc[:,-1].values
X_test = df.iloc[1460:,:].values

In [64]:
print(np.shape(X))
print(np.shape(Y))
print(np.shape(X_test))
print(np.shape(df2))

(1460, 80)
(1460,)
(1459, 80)
(1459, 80)

In [65]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X,Y)

LinearRegression()

In [67]:
y_pred = regressor.predict(X_test)
print(y_pred)
y_y = regressor.predict(X)
print(np.concatenate((y_y.reshape(len(y_y),1),Y.reshape(len(Y),1)),axis=1))

[105372.30733123 153197.22102094 164571.55434344 ... 154070.05603494
 120398.14478312 241857.36319617]
[[215054.76515697 208500.        ]
 [202586.15056966 181500.        ]
 [217328.85386117 223500.        ]
 ...
 [241307.48340575 266500.        ]
 [148604.18165858 142125.        ]
 [157593.02183115 147500.        ]]